@using NutritionTracker.Pages.Ingredients.Services;

@inject IngredServices service

<div class="col-5 bg-light m-2 justify-content-end">
    <div class="p-3 mb-1 bg-primary text-white text-center">Update Ingredient</div>


    <div>
        <label for="name">Ingredient Name</label>
        <select class="form-control" @onchange="Selected">

            @if (Ingredients != null)
            {
                foreach (var ingredient in Ingredients)
                {

                    <option value="@ingredient.Id">@ingredient.ingredientName</option>
                }
            }
            else
            {

                <label colspan="6"><strong>No ingredients available</strong></label>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="price">Calories</label>
        <input type="text" id="price" class="form-control" @bind="@ingredientToUpdate.calories" />
    </div>

    <div class="form-group">
        <label for="quantity">Fats</label>
        <input type="text" id="quantity" class="form-control" @bind="@ingredientToUpdate.fats" />
    </div>

    <div class="form-group">
        <label for="Description">Protein</label>
        <input type="text" id="Description" class="form-control" @bind="@ingredientToUpdate.protein" />
    </div>

    <div class="form-group">
        <label for="Description">Sugar</label>
        <input type="text" id="Description" class="form-control" @bind="@ingredientToUpdate.sugar" />
    </div>

    <div class="form-group">
        <label for="Description">Carbs</label>
        <input type="text" id="Description" class="form-control" @bind="@ingredientToUpdate.carbs" />
    </div>

    <div class="text-center p-3 mb-3">
        <button class="btn btn-info" @onclick="UpdateIngredientData"> Update Product</button>
    </div>
</div>
